
.angular-init { display: none;}
.team__admin .nav-tabs { padding-top: 20px !important; }
.team__content_container { 
	width: 50%; 
	margin-top: 20px;
}
.team__admin {}
.team__admin .pagination li { cursor: pointer; }

@media only screen and (max-width: 782px){ 
  #wpcontent { padding-right: 10px; }
  .team__admin .nav-tabs li { width: 100%; }
  .team__admin .nav-tabs li a,
  .team__admin .nav-tabs li a.active { border-bottom-color: #ddd !important; }
  .team__form_container { width: 100%; }
}